.todos__item {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.check {
  margin-right: 1rem;
  font-weight: bold;
  color: green;
  cursor: pointer;
}

.check--disabled {
  color: #888;
}

.descripcion {
  width: 100%;
  font-size: 1rem;
  margin: 0;
}

.descripcion--completed {
  color: #888;
  text-decoration: line-through;
}

.button__eliminar {
  color: red;
  border: none;
  border-radius: 5px;
  font-size: .9rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  transition: background-color .3s ease;
}